{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<p>This is a sample application to demonstrate authenticating against github oauth,
using Flask, on Heroku.   This app restricts logins only to members of the 
github organization </p>

{% if logged_in %}
<div class="card-body" id="card-replicate">
  <form class="form-signin" id="replicate">
    <span style="font-size: 12px;">Name your repo and let's copy this app there.</span>
    <label for="replicateRepo" class="sr-only">Repository Name</label>
    <input type="text" id="replicateRepo" class="form-control repo" placeholder="Repository" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Replicate</button>
  </form>
  <div id="loader-replicate" class="loader-wrapper">
    <div class="loader replicate"></div>
  </div>
  <div id="response-replicate"></div>
</div>


{% endif %}

{% endblock %} 
